affine==2.3.0
aiohttp==3.7.4.post0
aioitertools==0.7.1
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.2.0
Automat==20.2.0
beautifulsoup4==4.9.3
black==21.5b0
bleach==3.3.0
blessings==1.7
boltons==20.2.1
boto3==1.17.49
boto3-stubs==1.17.42.0
botocore==1.20.49
bpython==0.21
bs4==0.0.1
build==0.3.1.post1
cachetools==4.1.1
cattrs==1.1.1
certifi==2020.12.5
cffi==1.14.0
cftime==1.2.1
chardet==3.0.4
ciso8601==2.1.3
click==7.1.2
click-plugins==1.1.1
cligj==0.7.0
cloudpickle==1.6.0
colorama==0.4.3
colour==0.1.5
conda==4.8.3
conda-package-handling==1.7.0+0.g7c4a471.dirty
ConfigArgParse==1.4.1
cryptography==3.4.6
curtsies==0.3.5
cwcwidth==0.1.4
cycler==0.10.0
dask==2.30.0
dataclasses==0.7
datacube==1.8.3
datacube-explorer==2.1.9
datacube-ows==0.0.0
decorator==4.4.2
Deprecated==1.2.11
distributed==2.30.0
docopt==0.6.1
docutils==0.15
eodatasets3==0.14.2
Fiona==1.8.17
Flask==1.1.2
Flask-BasicAuth==0.2.0
Flask-Caching==1.9.0
Flask-Log-Request-ID==0.10.1
Flask-Themes==0.1.3
GeoAlchemy==0.7.2
GeoAlchemy2==0.8.4
geographiclib==1.50
gevent==21.1.2
geventhttpclient==1.4.4
gitdb==4.0.7
GitPython==0.3.2rc1
greenlet==0.4.17
gunicorn==20.1.0
HeapDict==1.0.1
idna==2.9
imageio==2.9.0
importlib-metadata==4.0.0
importlib-resources==3.3.0
iniconfig==1.1.1
iso8601==0.1.13
isort==5.8.0
itsdangerous==2.0.0a1
Jinja2==3.0.0a1
jmespath==0.10.0
jsonschema==3.2.0
keyring==23.0.1
kiwisolver==1.3.1
lark-parser==0.11.0rc1
locust==1.5.3
lxml==4.6.1
MarkupSafe==1.1.1
matplotlib==3.3.4
mock==4.0.3
more-itertools==8.7.0
moto==2.0.2
msgpack==1.0.0
multidict==5.1.0
munch==2.5.1.dev12
mypy==0.812
mypy-boto3-ecr==1.17.41.0
mypy-extensions==0.4.3
netCDF4==1.5.4
networkx==2.5
numpy==1.19.5
packaging==20.9
pandas==1.1.4
pathspec==0.8.1
pep517==0.10.0
Pillow==8.0.1
pip-tools==5.5.0
pkginfo==1.7.0
pluggy==0.13.1
prometheus-client==0.8.0
prometheus-flask-exporter==0.18.1
psutil==5.7.3
psycopg2==2.8.6
py==1.10.0
pyasn1==0.4.8
pycosat==0.6.3
pycparser==2.20
PyGithub==1.54.1
Pygments==2.8.1
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyorbital==1.6.0
pyows==0.2.0
pyparsing==3.0.0b1
pyproj==2.6.1
pyrsistent==0.17.3
PySocks==1.7.1
pytest==6.2.4
pytest-mock==3.6.1
python-dateutil==2.8.1
python-rapidjson==0.9.3
python-slugify==4.0.1
pytz==2020.4
PyWavelets==1.1.1
pyxdg==0.27
PyYAML==5.3.1
pyzmq==22.0.3
rasterio==1.1.6
readme-renderer==29.0
regex==2020.10.28
requests==2.25.1
requests-cache==0.5.2
requests-toolbelt==0.9.1
responses==0.13.1
rfc3986==1.4.0
rsa==4.7.2
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.4
scikit-image==0.17.2
scipy==1.5.3
semantic-version==2.3.0
setuptools-scm==4.1.2
Shapely==1.7.1
simplekml==1.3.5
six==1.15.0
smmap==4.0.0
snuggs==1.4.7
sortedcontainers==2.2.2
soupsieve==2.2.1
SQLAlchemy==1.4.0b1
structlog==20.1.0
tblib==1.7.0
termcolor==1.1.0
text-unidecode==1.3
tifffile==2020.10.1
timezonefinderL==4.0.2
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.46.0
twine==3.4.1
typed-ast==1.4.3
typing-extensions==3.7.4.3
urllib3==1.25.11
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
xarray==0.16.1
xmltodict==0.12.0
yarl==1.6.3
zict==2.0.0
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
