automat >= 0.3.0
#gevent wps is not compatabile with gevent
flask
git+https://github.com/geopython/pywps.git@4.2.4
scikit-image
gunicorn
rasterio >= 1.0.9
rasterio[s3]
altair
altair_saver
selenium
python-dateutil
sentry_sdk
blinker
