--extra-index-url="https://packages.dea.ga.gov.au"
flask
pywps
gunicorn
datacube
altair
altair_saver
python-dateutil
sentry_sdk[flask]
blinker
prometheus-flask-exporter
bandit
pycodestyle
pylint
isort
pytest
pytest-cov
pytest-flask
moto
vega-datasets
twine
pyarrow
