--extra-index-url="https://packages.dea.ga.gov.au"
flask
pywps
gunicorn
datacube
altair
altair_saver
python-dateutil
sentry_sdk[flask]
blinker
prometheus-flask-exporter
pycodestyle
pylint
pytest
pytest-cov
pytest-flask
moto < 5
vega-datasets
vl-convert-python
twine
pyarrow
