---
name: Tests

on:
  pull_request:
    branches:
        - 'master'
    paths:
      - '**'

  push:
    branches:
      - 'master'
    paths:
      - '**'

env:
  ORG: opendatacube
  IMAGE: wps

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Pre-pull layers
        run: docker-compose pull

      - name: Build WPS image
        run: docker-compose build

      - name: Bring up containers
        run: |
          mkdir -p ./artifacts
          chmod a+rw ./artifacts

          docker-compose up -d

      - name: Populate sample database
        run: ./setup-db.sh

      - name: Run test suite
        run: |
          docker-compose exec -e WPS_BASEURL=/ -T wps pytest -v --cov=./datacube_wps --cov-report=xml tests/
          docker-compose down

      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
          file: ./artifacts/*.xml
          fail_ci_if_error: false
